{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    
 

    <!-- <!-- <div id="id2"> -->
    <marquee class="text" behavior="scroll" direction="right" color="green">site is under construction</marquee></div>
    
    <h1 id="id3">Coming Soon!</h1>
        
    

    <!-- <h1 id="site">Woohoo! I am in LIVE  stay tuned for latest updates!</h1> -->

</body>
</html>